*{
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card{
    display: flex;
    gap: 30px;
    box-shadow: 5px black;
    margin: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    justify-content: flex-start;
    width: 700px;
    

    align-items: center;


}
.card-img{
    width:300px;
    height:200px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 0;
    

    
}
h1{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}